html {
  --sidebar-location: 20%;
}

.sidebarLink{
}
#snake1 {
  text-decoration: underline solid #ff99e7;
  color: transparent;
  background-image: linear-gradient(to right, #ff99e7, #333333);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: inherit;
}

#snake2 {
  text-decoration: underline solid #ff99e7;
  color: transparent;
  background-image: linear-gradient(to right, red, orange, green, cyan, blue, violet);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: inherit;
}

#saucy {
  display: none;
  text-decoration: underline solid Brown;
  color: Brown;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  font-style: Bold;
  position: fixed;
  top: 90%;
  left: 90%;
  z-index: 1;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2;
  cursor: pointer;
}

#handle {
  position: absolute;
  left: inherit - 5;
  height: 100%;
  width: 10px;
  cursor: ew-resize;
  z-index: 4;
}

#grab {
  background-color: rgba(0, 0, 0, 0.05);
  background-image: url("media/Grippable.png");
  position: sticky;
  pointer-events: none;
  top: 40%;
  height: 10%;
  background-repeat: no-repeat;
}

#sidebar {
  overflow: hidden;
  position: absolute;
  background-color: white;
  top: 0;
  left: var(--sidebar-location);
  right: 0;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  height: 95%;
  z-index: 2;
  animation-name: openSidebar;
  animation-play-state: paused;
  animation-duration: .9s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes openSidebar {
  from {
    left: 100%;
  }
  to {
    left: var(--sidebar-location);
  }
}

#frameBlocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

#frame {
  overflow: hidden;
  border: none;
  align: middle;
  height: 100%;
  width: 100%;
  z-index: inherit;
}

#exitButton {
  background-color: rgba(255, 255, 255, .05);
  position: fixed;
  display: none;
  top: 2%;
  right: 2%;
  width: 25px;
  cursor: pointer;
  z-index: 3;
}
